.active {
  margin: auto;
  background-color: aliceblue;
  padding: 5px;
  border-radius: 10px;
}
.chooseDark {
  color: black;
  margin: auto;
  padding: 5px;
}
.chooseLight {
  color: white;
  margin: auto;
  padding: 5px;
}
.disabledLight {
  color: black;
  margin: auto;
  padding: 5px;
}
.disabledDark {
  color: white;
  margin: auto;
  padding: 5px;
}
.disabled {
  margin: auto;
  padding: 5px;
}

.dark {
  color: white;
}

.light {
  color: black;
}
.filters {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-style: normal;
  display: flex;
  width: 230px;
  justify-content: space-between;
  margin-right: 20px;
  font-weight: 700;
}

.filter-area {
  margin-top: 10px;
}

.chooseLightArea {
  background-color: rgb(142, 202, 255);
  border-radius: 10px;
}
.chooseDarkArea {
  background-color: rgb(225, 225, 225);
  border-radius: 10px;
}
