.Lightbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(206, 231, 255);
}
.Darkbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(154, 154, 154);
}

.icon {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 10px;
  cursor: pointer;
}
