.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(206, 231, 255);
}

.icon {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  cursor: pointer;
  color: #444444;
}
